<nav [ngClass]="!isOnlyLogo ? 'nav-flex' : 'nav-flex-center'">
  <a href="#">
    <img src="../../assets/imgs/Logo.png" alt="Postfike" class="logo" />
  </a>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" *ngIf="!isOnlyLogo">
    <input
      type="text"
      id="q"
      name="q"
      placeholder="Buscar"
      formControlName="q"
    />
    <button mat-raised-button class="pstfk-btn" type="submit">Buscar</button>
  </form>

  <div>
    <button
      mat-raised-button
      class="pstfk-btn"
      routerLink="/login"
      *ngIf="isLoggedOut() && !isOnlyLogo"
    >
      Entrar
    </button>

    <button
      mat-raised-button
      class="pstfk-btn"
      *ngIf="isLoggedIn()"
      (click)="logout()"
    >
      Sair
    </button>
  </div>
</nav>
