<div class="post" [style.background-color]="bgColor" [style.transform]="deg">
  <div class="postContainer">
    <div class="postHeader">
      <button class="pstfk-btn-clear" (click)="openModal()">
        <h2 style="font-weight: bold" class="postTitle">
          {{ postElement.title }}
        </h2>
        <p class="postOwnerName">{{ postElement.user.name }}</p>
      </button>
      <p class="dias">há {{ getDeadline() }} dias</p>
    </div>
    <div class="postContent">
      <button class="pstfk-btn-clear" (click)="openModal()">
        <p>{{ postElement.description }}</p>
      </button>
    </div>
    <div class="postFooter">
      <div class="postTags">
        <p class="tag" *ngFor="let tag of postElement.tags">
          <a href="">#{{ tag.title }}</a>
        </p>
      </div>
      <div class="postBookmark">
        <button class="bm-Btn">
          <img src="../../../assets/svg/bookmark.svg" alt="" class="bm-Img" />
        </button>
        <p>{{ postElement.count_bookmark }}</p>
      </div>
    </div>
  </div>
</div>
