.post {
  border-style: solid;
  border-color: black;
  margin: 50px;
  padding: 10px;
  width: 350px;
  height: 200px;
  background-color: rgb(240, 206, 248);
  transform: rotate(-1deg);
}

.postContainer {
  border-style: solid;
  border-color: red;
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postFooter {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.postTags {
  display: flex;
}
.tag {
  color: rgb(84, 149, 223);
  padding: 2px;
  font-size: smaller;
}
