<div class="pstfk-fullPost">
  <div class="pstfk-fullPostHeader">
    <button class="pstfk-btn-clear" style="color: orange">
      &#9888; Denunciar anúncio
    </button>
    <button class="pstfk-btn-clear" (click)="onCloseClick()">Fechar X</button>
  </div>
  <mat-grid-list cols="12" rowHeight="240">
    <mat-grid-tile colspan="5" rowspan="1">
      <div class="gallery-container">
        <button
          class="pstfk-btn-clear"
          style="height: 80%; width: 90%; align-self: center"
        >
          <img
            src="../../../../assets/imgs/post-it-example.jpg"
            alt=""
            class="gallery-main-img"
          />
        </button>
        <button mat-raised-button class="pstfk-btn-outline">
          Abrir galeria de fotos
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="1"
      ><app-post
        [postElement]="fullPostData"
        [bgColor]="bgColor"
        [isFull]="true"
      ></app-post
    ></mat-grid-tile>
    <mat-grid-tile
      colspan="12"
      rowspan="1"
      [style.background-color]="bgColor"
      class="pstfk-fullPostDetails"
    >
      <p>
        {{ fullPostData.details }}
      </p>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="pstfk-fullPostFooter">
    <div class="buttons">
      <button class="bm-Btn pstfk-btn-clear">
        <img src="../../../../assets/svg/bookmark.svg" alt="" class="bm-Img" />
        Marcar
      </button>
      <button class="bm-Btn pstfk-btn-clear">
        <img
          src="../../../../assets/svg/conversation.svg"
          alt=""
          class="bm-Img"
        />
        Contato
      </button>
    </div>
  </div>
</div>
