.pstfk-fullPost {
  height: inherit;
  margin: 0 15px;
}

.pstfk-fullPostHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;

  height: 35px;
}

.pstfk-fullPostDetails {
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 1px rgb(207, 207, 207);
}
.pstfk-fullPostDetails p {
  height: 90%;
  width: 90%;
  margin: 20px;
}

.pstfk-fullPostFooter {
  display: flex;
  justify-content: space-between;
  align-content: center;

  height: 30px;
  margin-top: 5px;
}
.buttons {
  display: flex;
  flex-direction: row;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  height: 100%;
  width: 100%;

  outline: 1px solid red;
}

.pstfk-btn-outline {
  text-align: center;

  height: 15%;

  margin: 2% 0;

  background-color: transparent;
  border: 2px solid #e8666d;
  color: #e8666d;
}

.gallery-main-img {
  height: 100%;
  width: 100%;
}

.bm-Btn {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.bm-Img {
  display: inline;
  width: 15px;
  height: 18px;

  margin-right: 5px;
}
