.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 432px;
}

.grid {
  margin-top: 20px;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginator ::ng-deep .ngx-pagination {
  color: black;
  float: left;
  margin: 25px 0px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.paginator ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: #e8666d;
  border-radius: 5px;
}

.paginator ::ng-deep .ngx-pagination a:hover:not(.active) {
  color: black;
  background-color: #ffd6d6;
  border-radius: 5px;
}
