<mat-grid-list
  [cols]="breakpoint"
  gutterSize="15px"
  rowHeight="250px"
  (window:resize)="onResize($event)"
  class="grid"
>
  <mat-grid-tile
    *ngFor="
      let post of posts
        | paginate
          : { itemsPerPage: 18, currentPage: pageNumber, totalItems: postCount }
    "
  >
    <app-post [postElement]="post"> </app-post>
  </mat-grid-tile>
</mat-grid-list>

<pagination-controls
  (pageChange)="handlePageChange($event)"
  class="paginator"
  nextLabel=""
  previousLabel=""
></pagination-controls>
