html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.pstfk-btn {
  height: 35px;
  width: 88px;

  color: white;
  background-color: #e8666d;
}

.pstfk-btn:hover {
  color: black;
  background-color: #ffd6d6;
}

input:focus {
  outline-width: 0;
}
